<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <title>Stock Star</title>
</head>
<body>
    <h1>Welcome to Stock Star</h1>
    <h3 id="sectorPage">Click me to go to sectors</h3>

    <div id="selectedSectorData" class="container mt-3">
        {{ selectedSectorData | safe }}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function() {
            var table = $('#dataTable').DataTable();

            // Add a click event listener to the table rows
            $('#sectorPage').on('click', function() {
                window.location.href = "/sector";
            });
        });

    </script>
</body>
</html>
