<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        th, td {
            text-align: left !important;
            vertical-align: middle !important;
        }
    </style>
    <title>Stock Star</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Selected Sector: <span style="color: #FE846A">{{ sector_name }}</span></h1>
        <div id="selectedSectorDetails">
            {{ table | safe }}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function() {
            // You can initialize DataTables here if needed
            var table = $('#dataTable').DataTable();
            console.log(table)
        });
    </script>
</body>
</html>
